.App {
  display: grid;
  background-color: white;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 10% 80% 10%;
}

.App-bar {
  grid-column: 1 / 4;
  grid-row: 1;
}

.App-left-container {
  grid-column: 1 / 2;
  grid-row: 2;
  height: 100%;
  border-style: solid;
  border-width: thin;
  border-radius: 10px;
  margin: 10px;
}

.App-center-container {
  grid-column: 2 / 3;
  background: rgba(76, 175, 80, 0.1);
  overflow: hidden;
  border-style: solid;
  border-width: thin;
  border-radius: 10px;
  margin: 10px;
}

.App-right-container {
  grid-column: 3 / 4;
  border-style: solid;
  border-width: thin;
  border-radius: 10px;
  margin: 10px;
}
